.pdlr-8{
    padding: 0 1rem;
}
.row{
    line-height: 1.2;
}

.image{
    padding-top: 1.5rem;
}

.thick {
    font-weight: 600;
}

del {
    font-size: 14px;
    padding: 0px 8px;
}

.thick1 {
    font-weight: 700;
}

.subhead {
    color: #8a9095;
    font-size: 18px;
}

.offcolor {
    color: #417353;
}

select#sel1 {
    width: 10%;
}

input.form-check-input {
    margin-right: 6px;
}

.pl-col {
    padding-left: 70px;
}

.pl-sto{
    padding-left: 22px;
}

.plsize{
    padding-right: 23px;
}

.pr-quan{
    padding-right: 36px;
}

.pr-2{
    padding-right: 4px;
}